*{
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input{
    width: 6.25rem;
}

#dados-pessoais{

}

#pontos-interesse{
    
}

.select{
    width: 400px;
    margin: 20px auto;
}