*{
    margin: 0;
    padding: 0;
}

:root{
    --white: #fff;
    --primary-color: #1902e8;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/img/wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--white);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

input{
    width: 18.75rem;
    margin: 1rem;
    padding: 5px;
    border-radius: 5px;
}

input:focus{
    background-color: #1902e828;
    color: var(--white);
}

.div-info{
    width: 60%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    margin: 1rem;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#div-dados{
    margin-right: 1rem;
}

#div-destinos{
    margin-left: 1rem;
}

.select{
    width: 400px;
    margin: 20px auto;
    color: #000
}

#btn-enviar{
    width: 6.25rem;
    height: 1.5rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    transition: .2s;
}

#btn-enviar:hover{
    width: 7rem;
    cursor: pointer;
    background-color: var(--white);
    color: var(--primary-color);
}